<!-- Add your site or application content here -->
<div class="container">
  <div id="header" class="span-21 prepend-3 last">
    <h1>prashtx.com <small>[Prashant Singh]</small></h1>
  </div>

  <hr class="space">

  <!-- Muni arrivals -->
  <div class="span-8 prepend-3 append-1">
    <h6>San Francisco Muni arrival time app</h6>
    <p>
    <a href="http://prashtx.com/muni">prashtx.com/<b>muni</b></a>
    <br>
    A streamlined mobile web app for viewing Muni arrival times.
    </p>
  </div>
  <!-- mnemonic -->
  <div class="span-8 prepend-1 append-3 last">
    <h6>Mnemonic Major system helper</h6>
    <p>
    <a href="http://prashtx.com/mmapoc">prashtx.com/<b>mmapoc</b></a>
    <br>
    A proof of concept app to help with the Mnemonic major system. See <a href="http://en.wikipedia.org/wiki/Mnemonic_major_system">Wikipedia article on the Mnemonic major system</a>.
    </p>
  </div>

  <!-- photos -->
  <div class="span-8 prepend-3 append-1">
    <h6>Photos</h6>
    <p>
    <a href="http://photo.prashtx.com"><b>photo</b>.prashtx.com</a>
    <br>
    A small selection of my photos
    </p>
  </div>
  <!-- resume -->
  <div class="span-8 prepend-1 append-3 last">
    <h6>Resume</h6>
    <p>
    <a href="http://prashtx.com/resume">prashtx.com/<b>resume</b></a> (PDF)
    <br>
    Take a look at my resume.
    </p>
  </div>

  <!-- github -->
  <div class="span-8 prepend-3 append-1">
    <h6>Github</h6>
    <p>
    <a href="http://prashtx.github.com">prashtx.<b>github</b>.com</a>
    <br>
    Check out some of my projects on github.
    </p>
  </div>
  <!-- contact -->
  <div class="span-8 prepend-1 append-3 last">
    <h6>Contact</h6>
    <p>
    <a href="http://twitter.com/prashtx"><b>twitter</b>.com/prashtx</a>
    <br>
    <a href="http://prashtx.com/linkedin">prashtx.com/<b>linkedin</b></a>
    <br>
    Follow me on Twitter or contact me through LinkedIn.
    </p>
  </div>

  <hr class="space">
  <div class="span-8 prepend-3">
    <footer>
      <p>&copy; Prashant Singh 2014</p>
    </footer>
  </div>
</div> <!-- container -->

<script>
    var _gaq=[['_setAccount','UA-11385981-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
